/* Backdrop for modal */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content styling */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* Modal action buttons */
.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cancel-button {
    background-color: white;
    color: red;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.create-button {
    background-color: #6b21a8; /* Purple button */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
